<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <a href="/logout">Logout</a> <a href="/guest">Guests</a>

    <div class="card">
        <h2>To Do List</h2>
        <ul>
            <% todos.forEach( el => { %>
                    <li class='todoItem' data-id='<%=el._id%>'>
                        <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                        <span class='edit fa fa-edit'></span>
                        <span class='del fa fa-trash'></span>
                    </li>
            <% }) %>    
            </ul>
        <div class="text">
            <h2><%= user.userName %> has <%= left %> things left to do. </h2>
        </div>
        <form action="/todos/createTodo" method='POST'>
            <input type="text" placeholder="Enter Todo Item" name='todoItem'>
            <input type="submit">
        </form>
    </div>



    <div class="card">
        <h2>Vendor List</h2>
        <ul>
            <% vendor.forEach( el => { %>
                    <li class='todoItem' data-id='<%=el._id%>'>
                        <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.name %> <%= el.type %> </span>
                        <span class='edit fa fa-edit'></span>
                        <span class='del fa fa-trash'></span>
                    </li>
            <% }) %>    
            </ul>
        <div class="text">
            <!-- <h2><%= user.userName %> has <%= left %> things left to do. </h2> -->
        </div>
        <form action="/vendors/createVendor" method='POST'>
            <input type="text" placeholder="Enter Vendor Name" name='name'>
            <input type="text" placeholder="Enter Vendor Address" name='address'>
            <input type="text" placeholder="Enter Vendor Phone Number" name='number'>
            <input type="text" placeholder="Enter Vendor Type" name='type'>
            <input type="text" placeholder="Enter Vendor cost as total" name='cost'>
            <input type="submit">
        </form>
    </div>

    <div class="card">
        <h2>Budget Tracker</h2>
        <ul>
            <% budget.forEach( el => { %>

                <li class='todoItem' data-id='<%=el._id%>'>
                    <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.name %> <%= el.cost %> </span>
                    <span class='edit fa fa-edit'></span>
                    <span class='del fa fa-trash'></span>
                </li>
            
    <% }) %>       
            </ul>
        <div class="text">
            <h2>Total: <%= sums %>   </h2>
            
            <div id="myProgress">
                <!-- <div id='ab<%= goal %>'><%= goal %>%</div> -->
                <div id='ab<%= goal > 100 ? 'over' : goal%>'><%= goal %>%</div>
              </div>

        </div>
        <form action="/budget/createBudget" method='POST'>
            <input type="text" placeholder="Enter Cost Description" name='name'>
            <input type="number" placeholder="Enter Cost" name='cost'>
            <input type="submit">
        </form>
    </div>

    <script src="js/main.js"></script>
</body>
</html>